{% extends 'staff/staff_index.html' %}
{% block body %}
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Student List</h2>
    <form id="form1" name="form1" method="post" action="/show_stud_code#bb">
        <div class="row mb-3">
            <label for="course" class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-6">
                <select name="select" id="course" class="form-select">
                    {% for i in data %}
                        <option value="{{ i.id }}">{{ i.course_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4">
                <button type="submit" name="Submit" class="btn btn-primary">View</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">DOB</th>
                <th scope="col">Place</th>
                <th scope="col">Course</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Sem</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data2 %}
            <tr>
                <td><img height="70px" width="70px" src="{{ i.img.url }}" alt=""/></td>
                <td>{{ i.std_name }}</td>
                <td>{{ i.gender }}</td>
                <td>{{ i.dob }}</td>
                <td>{{ i.place }}</td>
                <td>{{ i.COURSE.course_name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.sem }}</td>
                <td><a href="/staff_edit_stud/{{ i.id }}#bb" class="btn btn-sm btn-primary">Edit</a></td>
                <td><a href="/delete_stud/{{ i.id }}" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}
