<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_dept">add department </a></td>
    </tr>
    <tr>
      <td><a href="/view_dept">view department </a></td>
    </tr>
    <tr>
      <td><a href="add_course">add course </a></td>
    </tr>
    <tr>
      <td><a href="/view_course">view course </a></td>
    </tr>
    <tr>
      <td><a href="/add_subject">add subject </a></td>
    </tr>
    <tr>
      <td><a href="/view_subject">view subject </a></td>
    </tr>
    <tr>
      <td><a href="/add_staff">add staff </a></td>
    </tr>
    <tr>
      <td><a href="/view_staff">view staff </a></td>
    </tr>
  </table>
</form>
</body>
</html>
