{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Assign Subject</h2>
    <form id="form1" name="form1" method="post" action="/assign_code" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="cr" class="form-label">Courses</label>
            <select name="select2" id="cr" class="form-select" required>
                <option value="">Choose...</option>
                {% for i in crs %}
                    <option value="{{ i.id }}">{{ i.course_name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a course.
            </div>
        </div>
        <div class="mb-3">
            <label for="sb" class="form-label">Assign Subject</label>
            <select name="select3" id="sb" class="form-select" required>
                <option value="">Choose...</option>
            </select>
            <div class="invalid-feedback">
                Please select a subject.
            </div>
        </div>
        <div class="text-center">
            <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>

<script src="/static/jquery.js"></script>

<script>
    $(document).ready(function(){
        alert("mmmmmmmmm")


        $("#cr").change(function () {
            op=$(this).val()

            $.ajax({
                url: "/show_assign_sub/"+op,
                type: "POST",
                data: {


                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(dat) {

                    var data=dat;
                    var len =data.length;
                    $("#sb").text("")
                    for (var i = 0; i < len; i++) {

                        var name = data[i]['name'];
                        var id = data[i]['id'];

                        $("#sb").append("<option value="+id+">"+name+"</option>")

                    }
                },
                error: function(ts) {
    //{#                alert(ts);#}
                }
            });


        })








    })
</script>
{% endblock %}
